.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px dotted var(--secondary);
    border-top: 5px solid var(--background);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
