* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: blue;
}

:root {
  --background: #1a1a1a;
  --background-light: #282828;

  --primary: #ffffff;
  --secondary: #efba21;
  --terciary: #bbbbbb;
}

body,
input,
button {
  color: var(--primary);
  font: 400 16px "Fredoka", sans-serif;
}

body {
  background: var(--background);
}

button:hover {
  cursor: pointer;
}

table,
th,
td {
  border-bottom: 1px solid #f1f1f1;
  border-collapse: collapse;
  padding: 10px;
}

th {
  text-align: left;
}

